@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  height: (calc(var(--vh, 1vh) * 100));
  overscroll-behavior-y: contain;
  font-family: "Roboto", sans-serif;
  @apply text-[#302B2B];
}

.slick-prev:before,
.slick-next:before {
  color: #9d21e6 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

li.slick-active > button::before {
  color: #9d21e6 !important;
}
